In [0]:
import pandas as pd 
import numpy as np 
from tqdm import tqdm
import math
import gc

In [0]:
# ! cp data/Train_target.csv ./raw_data/Train_target.csv
# ! cp data/Test_target.csv ./raw_data/Test_target.csv

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:

train=pd.read_csv("/content/drive/My Drive/qdcomp/Train.csv")
test=pd.read_csv("/content/drive/My Drive/qdcomp/Test.csv")

In [0]:
train.head()

              ID  ...      target
0     ID_train_0  ...   45.126304
1     ID_train_1  ...   79.131702
2    ID_train_10  ...   32.661304
3   ID_train_100  ...   53.850238
4  ID_train_1000  ...  177.418750

[5 rows x 9 columns]

In [0]:
test.head()

             ID  ...                                        atmos_press
0     ID_test_0  ...  87.64333333,87.67,87.70583333,87.75083333,87.7...
1     ID_test_1  ...  87.8925,87.95666667,87.9925,87.9925,87.9808333...
2    ID_test_10  ...  90.34,90.2975,90.305,90.35583333,90.4425,90.49...
3   ID_test_100  ...  87.98833333,88.06333333,88.07833333,88.0366666...
4  ID_test_1000  ...  90.515,90.5575,90.62333333,90.6825,90.67916667...

[5 rows x 8 columns]

In [0]:
# covert features  fron string to List of values 
def replace_nan(x):
    if x==" ":
        return np.nan
    else :
        return float(x)
features=["temp","precip","rel_humidity","wind_dir","wind_spd","atmos_press"]
for feature in features : 
    train[feature]=train[feature].apply(lambda x: [ replace_nan(X) for X in x.replace("nan"," ").split(",")])
    test[feature]=test[feature].apply(lambda x: [ replace_nan(X)  for X in x.replace("nan"," ").split(",")])

In [0]:
train.head()

              ID  ...      target
0     ID_train_0  ...   45.126304
1     ID_train_1  ...   79.131702
2    ID_train_10  ...   32.661304
3   ID_train_100  ...   53.850238
4  ID_train_1000  ...  177.418750

[5 rows x 9 columns]

### Features engineering part

In [0]:
def aggregate_features(x,col_name):
    x["max_"+col_name]=x[col_name].apply(np.max)
    x["min_"+col_name]=x[col_name].apply(np.min)
    x["mean_"+col_name]=x[col_name].apply(np.mean)
    x["std_"+col_name]=x[col_name].apply(np.std)
    x["var_"+col_name]=x[col_name].apply(np.var)
    x["median_"+col_name]=x[col_name].apply(np.median)
    x["ptp_"+col_name]=x[col_name].apply(np.ptp)
    return x  
def remove_nan_values(x):
    return [e for e in x if not math.isnan(e)]

In [0]:
data=pd.concat([train,test],sort=False).reset_index(drop=True)
data.columns.tolist()

['ID',
 'location',
 'temp',
 'precip',
 'rel_humidity',
 'wind_dir',
 'wind_spd',
 'atmos_press',
 'target']

In [0]:
for x in range(121):
    data["newtemp"+ str(x)] = data.temp.str[x]
    data["newprecip"+ str(x)] = data.precip.str[x]
    data["newrel_humidity"+ str(x)] = data.rel_humidity.str[x]
    data["newwind_dir"+ str(x)] = data.wind_dir.str[x]
    data["windspeed"+ str(x)] = data.wind_spd.str[x]
    data["atmospherepressure"+ str(x)] = data.atmos_press.str[x]

In [0]:
data.shape

(20574, 735)

In [0]:
len(data.precip[10])

121

In [0]:
for col_name in tqdm(features):
    data[col_name]=data[col_name].apply(remove_nan_values)

100%|██████████| 6/6 [00:03<00:00,  1.79it/s]

In [0]:
for col_name in tqdm(features):
    data=aggregate_features(data,col_name)

100%|██████████| 6/6 [00:21<00:00,  3.55s/it]

In [0]:
data.drop(features,1,inplace=True)

In [0]:
train=data[data.target.notnull()].reset_index(drop=True)
test=data[data.target.isna()].reset_index(drop=True)

In [0]:
del data  
gc.collect()

103

In [0]:
train.head()

              ID location  ...  median_atmos_press  ptp_atmos_press
0     ID_train_0        C  ...           87.762083         0.257500
1     ID_train_1        D  ...           90.429167         0.668333
2    ID_train_10        A  ...           88.425000         0.830833
3   ID_train_100        A  ...           88.400000         0.720000
4  ID_train_1000        A  ...           88.552500         0.450833

[5 rows x 771 columns]

In [0]:
test.head()

             ID location  ...  median_atmos_press  ptp_atmos_press
0     ID_test_0        C  ...           87.752500         0.546667
1     ID_test_1        C  ...           87.928333         0.609167
2    ID_test_10        D  ...           90.536667         0.670000
3   ID_test_100        C  ...           87.726667         0.518333
4  ID_test_1000        D  ...           90.487273         0.692500

[5 rows x 771 columns]

In [0]:
train.to_csv("/content/drive/My Drive/qdcomp/trainaway.csv",index  = False)
test.to_csv("/content/drive/My Drive/qdcomp/testaway.csv",index  = False)